html {
  font-family: Helvetica;
}


/* Header of the page */
.header {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../img/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.blue {
  font-weight: bold;
  color: blue;
}

/* Section Brushes */
#brushes {
  background-color: mediumspringgreen;
}


/* Section Frames */
#frames {
  background-color: lightcoral;
}


/* Section Paint */
#paint {
  background-color: skyblue;
}
